:root {
  --var-bg-color: #ffffff;
  --var-bg-gray: #e1e1e1;
  --var-primary-color: rgb(36, 36, 36);
  --var-secodary-color: rgb(84, 84, 86);
  --var-blue-color: rgb(0, 122, 255);
  --var-link-color: rgb(0, 122, 255);
}

:root[data-theme='dark'] {
/* :root { */
  --var-bg-color: #17212d;
  --var-bg-gray: #616161;
  --var-primary-color: rgb(247, 250, 252);
  --var-secodary-color: rgb(226, 232, 240);
  --var-blue-color: rgb(29, 161, 242);
  --var-link-color: rgb(29, 161, 242);
}

html {
  --var-color-white: #ffffff;
  --var-color-black: #000000;
  --var-link-color: var(--var-blue-color);
  --max-content-width: 980px;
  --max-width: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    'Apple Color Emoji', 'Segeo UI Emoji', 'Segeo UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--var-primary-color);
  background-color: var(--var-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 1em 0;
}

h2 {
  margin: 1.6em 0 0 0;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

p,
ul,
ol {
  font-size: 1.3rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li {
  margin: 1rem 0;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a {
  color: var(--var-link-color);
  transition: color linear 0.15s;
}

p a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  background-color: #f1f1f1;
  margin: 24px auto;
}

code {
  font-family: 'SF Mono', menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: inherit;
  background-color: var(--var-bg-gray);
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

table {
  border-collapse: collapse;
  font-size: 1.125em;
  margin: 2em 0;
}

th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

td {
  padding: 0.4em 0.8em;
}

.container {
  margin: 0 auto;
  /* max-width: 42em; */
  width: 100%;
}

.content h1 {
  font-size: 3em;
  margin: 1em 0;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 3em;
  }

  .content h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  p,
  ul,
  ol {
    font-size: 1.2rem;
    margin: 1em 0;
  }
}
